body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	border-radius: 0px;
	text-align: center;
	font-family: "Comic Sans MS", sans-serif;
}

select {
	margin: 25px;
	padding: 5px;
}

.allWrapper {
	display: flex;
	align-items: center;
	color: white;
}

.tribesWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.tribesWrapper * {
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
}

.tribe {
	background-color: #1c4587;
	height: max-content;
}

.function {
	background-color: #3c78d8;
}

.areasWrapper {
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.area {
	width: 40%;
	min-width: 100px;
	background-color: #15c;
}

.area * {
	margin: 0px;
	padding: 0px;
}

.teamsWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team {
	border: 1px dotted white;
    font-size: small;
    margin: 15px 0px;
    width: fit-content;
    padding: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}